language: node_js
node_js: 8

matrix:
  include:
    - os: linux
    - os: osx
      osx_image: xcode9.3

cache:
  directories:
  - node_modules
  - $HOME/.cache/electron

install:
  - npm install
script:
  - npm run package-$TRAVIS_OS_NAME
  - ls -lA release-builds

after_success:
  - |
    cd release-builds
    mv Costlocker* Costlocker
    tar -czf "$TRAVIS_OS_NAME-$TRAVIS_TAG.tar.gz" Costlocker
    ls -lA

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: release-builds/$TRAVIS_OS_NAME-$TRAVIS_TAG.tar.gz
  skip_cleanup: true
  on:
    tags: true
    branch: master
