image: Visual Studio 2017
platform:
  - x64
  - x86

cache:
  - node_modules
  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

install:
- ps: Install-Product node 8 $env:PLATFORM
- npm install

build_script:
  - npm run "package-win-%PLATFORM%"

after_build:
  - ps: Get-ChildItem "release-builds\Costlocker-win32-*" | Rename-Item -NewName Costlocker
  - 7z a win-%PLATFORM%-%APPVEYOR_REPO_TAG_NAME%.zip %APPVEYOR_BUILD_FOLDER%\release-builds\Costlocker

test: off

artifacts:
  - path: '*.zip'
    name: win-release
  
deploy:
  - provider: GitHub
    artifact: win-release
    auth_token: 
      secure: E3NBpaH+w3/Ci4z2IihhM6BtbZ4/4YZ8y5XLoJDnneK4+HhhSCCMdI2kDOdyAtCl
    draft: false
    prerelease: true
    force_update: true
    on:
      appveyor_repo_tag: true
