image: Visual Studio 2017
platform:
  #- x64
  - x86

cache:
  - node_modules
  - '%LOCALAPPDATA%\electron'
  - '%LOCALAPPDATA%\electron-builder'

init:
  - git config --global core.autocrlf input

install:
- ps: Install-Product node 8 $env:PLATFORM
- npm install

build_script:
  - npm run "package-win-%PLATFORM%"
  - npm run "package-win-%PLATFORM%-nsis"

after_build:
  - ps: Get-ChildItem "dist\Costlocker*.exe" | Rename-Item -NewName { $_.Name -replace ' ','-' }
  - dir dist

test: off

artifacts:
  - path: 'dist\*.exe'
    name: win-release
  
deploy:
  - provider: GitHub
    artifact: win-release
    auth_token: 
      secure: E3NBpaH+w3/Ci4z2IihhM6BtbZ4/4YZ8y5XLoJDnneK4+HhhSCCMdI2kDOdyAtCl
    draft: false
    prerelease: true
    force_update: true
    on:
      appveyor_repo_tag: true
